# Set a project name for the composition to use
name: $COMPOSE_PROJECT_NAME

# Services/Containers to orchestrate in this composition
services:

  # Basic PHP 5.6 CLI Image Container
  php-5-6-cli:
    container_name: ${PHP56_CLI_DOCKER_BOX}
    tty: true
    restart: unless-stopped
    build: 
      context: .
      dockerfile: ${DOCKER_BUILD_FILE}
      target: ${DOCKER_BUILD_TARGET}
      args:
        - APP_ENV=${APP_ENV}
      labels:
        evilwizardcreations.image.description: "${DOCKER_BUILD_DESC}"
        evilwizardcreations.image.version: ${DOCKER_BUILD_VERSION}
        evilwizardcreations.image.target-env: ${APP_ENV}
        evilwizardcreations.image.target-env.version: "local"
    image: ${PHP56_CLI_DOCKER_BUILD_IMAGE}:${PHP56_CLI_DOCKER_BUILD_IMAGE_TAG}
    environment:
        - APP_ENV=${APP_ENV}
    working_dir: /var/www
    volumes:
      - ./public_html:/var/www/html
      - ./docker-files/php/56.local.ini:/usr/local/etc/php.ini
    networks:
      - web-app-network

# Custom network for composed containers to communicate on
networks:
  web-app-network:
    driver: bridge

